# Summarizing Automobile Evaluation Data

In the following project you'll use what you've learned about summarizing categorical data to analyze a sample from a popular open source dataset. This dataset contains information on the cost and physical attributes of several thousand cars. Originally, this dataset was used to train a classification model that assigned an acceptability score/category to cars based on these attributes.

The car evaluation dataset has been sourced from the UCI Machine Learning Repository and has been slightly modified for this project. Specifically, one additional field `manufacturer_country` has been simulated for illustrative purposes. You can read more about the details, features, and original uses of this dataset in research on the [UCI data description page](https://archive.ics.uci.edu/ml/datasets/car+evaluation).

## Summarizing Manufacturing Country

1. `manufacturer_country` is a _nominal categorical variable_ that indicates the country of the manufacturer of each car reviewed. Create a table of frequencies of all the cars reviewed by `manufacturer_country`. What is the modal category? Which country appears 4th most frequently? Print out your results.

In [1]:
import pandas as pd

car_eval = pd.read_csv('car_eval_dataset.csv')
print(car_eval.head())

# 1. Create a table of frequencies of all the cars reviewed by "manufacturer_country".
# What is the modal category? Which country appears 4th most frequently?

# Note: `.value_counts()` produces a table of frequencies in order, you can reference the
# N-th row of this table to find the Nth most common value in the data. In this case, it's Japan and the US...
print(car_eval.manufacturer_country.value_counts())

  buying_cost maintenance_cost doors capacity luggage safety acceptability  \
0       vhigh              low     4        4   small    med         unacc
1       vhigh              med     3        4   small   high           acc
2         med             high     3        2     med   high         unacc
3         low              med     4     more     big    low         unacc
4         low             high     2     more     med   high           acc

  manufacturer_country
0                China
1               France
2        United States
3        United States
4          South Korea
Japan            228
Germany          218
South Korea      159
United States    138
Italy             97
France            87
China             73
Name: manufacturer_country, dtype: int64

2. Calculate a table of proportions for countries that appear in `manufacturer_country` in the dataset. What percentage of cars were manufactured in Japan?

In [2]:
# 2. Calculate a table of proportions for countries that appear in "manufacturer_country" in the dataset.

# Note: Using normalize w. `._value_counts()` normalizes the table of frequencies that
# `.value_counts() produces by default to a table of proportions. A table of frequencies
# takes the count of observations, a table of proportions takes the proportion each value
# represents in the total.
print(car_eval.manufacturer_country.value_counts(normalize=True))

# Japan          0.228

Japan            0.228
Germany          0.218
South Korea      0.159
United States    0.138
Italy            0.097
France           0.087
China            0.073
Name: manufacturer_country, dtype: float64

## Summarizing Buying Costs

3. `buying_cost` is a categorical variable which describes the cost of buying any car in the dataset. Print out a list of the possible values for this variable.

In [3]:
# 3. `buying_cost` is a categorical variable which describes the cost of buying any car in the dataset.

# Note: The `.unique()` method strips all unique values from a column.
print(car_eval["buying_cost"].unique())

['vhigh' 'med' 'low' 'high']

4. `buying_cost` is an _ordinal categorical variable_, which means we can create an order associated with the values in the data and perform numeric operations on the variable. Create a new list, `buying_cost_categories`, that contains the unique values in `buying_cost`, ordered from lowest to highest.

In [4]:
# 4. Create a list of the unique categories from lowest to highest
# cost in the "buying_cost" variable.

# NOTE: You just need to create your own list and save it for use in
# subsequent steps.
buying_cost_categories = ['low', 'med', 'high', 'vhigh']
print(buying_cost_categories)

['low', 'med', 'high', 'vhigh']

5. Convert `buying_cost` to type `'category'` using the list you created in the previous exercise.

In [5]:
# 5. Convert `buying_cost` to type `'category'` using the order created in the previous
# exercise.

# Note: You can convert a field to type category using the function `pandas.Categorical()`.
# The pandas categorical type allows us to perform numeric operations on categorical data.

# You can also check the column has type category by checking `print(car_eval.buying_cost)`.
# The output should note the column type (see below).

car_eval["buying_cost"] = pd.Categorical(
    car_eval["buying_cost"], 
    buying_cost_categories,
    ordered = True
)

print(car_eval.buying_cost)

# Name: buying_cost, Length: 1000, dtype: category
# Categories (4, object): [low < med < high < vhigh]

0      vhigh
1      vhigh
2        med
3        low
4        low
       ...
995      low
996      low
997    vhigh
998      low
999      low
Name: buying_cost, Length: 1000, dtype: category
Categories (4, object): ['low' < 'med' < 'high' < 'vhigh']

6. Calculate the median category of the `buying_cost` variable and print the result.

In [6]:
# 6. Calculate the median category of the `buying_cost` variable.

# Note: In Python, you can use `np.median()` to calculate the median value of a numerical
# series. In this case, you also must access the numerical values of the categories. This
# can be done with the `.cat.codes` attribute.

import numpy as np
median_category_num = np.median(car_eval['buying_cost'].cat.codes)
print(median_category_num)

median_category = buying_cost_categories[int(median_category_num)]
print(median_category)

1.0
med

## Summarizing Luggage Capacity

7. `luggage` is a categorical variable in the car evaluations dataset that records the luggage capacity for each reviewed car. Calculate a table of proportions for this variable and print the result.

In [7]:
# 7. Calculate a table of proportions for `luggage`.

# Note: Using normalize w. `.value_counts()` normalizes the
# table of frequencies that `.value_counts()` produces by default
# to a table of proportions
print(car_eval.luggage.value_counts(normalize=True))

small    0.339
med      0.333
big      0.328
Name: luggage, dtype: float64

8. Are there any missing values in this column? Replicate the table of proportions from the previous exercise, but do not drop any missing values from the count. Print the result.

In [8]:
# 8. Are there any missing values in this column? Replicate the table of
# proportions from the previous exercise, but do not exclude any missing
# values from the count.

# Note: Using `.value_counts()`, missing values are removed by default. To
# keep missing values in the summary you can pass `dropna = False` to
# `.value_counts()`. If the result using `dropna = False` is the same, then
# you can conclude there are no missing values. In this case, we can see that
# they are the same.

print(car_eval.luggage.value_counts(dropna=False, normalize=True))

small    0.339
med      0.333
big      0.328
Name: luggage, dtype: float64

9. Without passing `normalize = True` to `.value_counts()`, can you replicate the result you got in the previous exercises?

In [10]:
# 9. Without passing `normalize = True` to `.value_counts()`,
# can you replicate the result you got in the previous exercise?

# Note: This method relies on `luggage` having no null values.
# If a field does have nulls, the below method is a more robust solution,
# using the `.count()` method excludes the NULLS in the denominator just
# as `.value_counts(normalize=True)` does

print(car_eval.luggage.value_counts()/len(car_eval.luggage))

# Safe alternative if there are Nulls:
car_eval.luggage.value_counts()/car_eval.luggage.count()

small    0.339
med      0.333
big      0.328
Name: luggage, dtype: float64

small    0.339
med      0.333
big      0.328
Name: luggage, dtype: float64

## Summarizing Passenger Capacity

10. `doors` is a categorical variable in the car evaluations dataset that records the count of doors for each reviewed car. Find the count of cars that have 5 or more doors. You can identify cars with 5+ doors by looking for cars that have a value of `'5more'` in the `doors` column. Print your result.

In [11]:
# 10. Find the frequency of cars that have 5 or more doors.

# Note: You must first create a series that evaluates to true/false values.
# Then, by calling .sum() on this series the count of
# `True`/1 values are calculated

frequency = (car_eval.doors == '5more').sum()
print(frequency)

246

11. Find the proportion of cars that have 5+ doors and print the result.

In [12]:
# 11. Find the proportion of cars that have 5 or more doors.

# Note: You must first create a series that evaluates to true/false values.
# Then, by calling .mean() on this series the value of
# `True`/1 values are calculated

proportion = (car_eval.doors == '5more').mean()
print(proportion)

0.246